* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --color-bg: #edf2ff;
  --color-brand: #4263eb;
  --color-hover: #364fc7;
  --color-text: #00082f;
}

body.dark-blue {
  --color-bg: #00082f;
  --color-brand: #4263eb;
  --color-hover: #364fc7;
  --color-text: #edf2ff;
}

body.pink {
  --color-bg: #e5e5e5;
  --color-brand: #d6336c;
  --color-hover: #a61e4d;
  --color-text: #1f000b;
}

body.dark-pink {
  --color-bg: #1f000b;
  --color-brand: #d6336c;
  --color-hover: #a61e4d;
  --color-text: #fff0f6;
}

body.purple {
  --color-brand: #512da8;
  --color-hover: #140078;
}

div.widget {
  width: 40px;
  height: 40px;
  margin-left: 80vw;
  margin-top: 1vw;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: 'Roboto', sans-serif;

  /* The transition property works on the attribute
  we assign it. In this case, we want the
  background color to be changed smoothly */
  transition: background 400ms;
}

.container {
  text-align: center;
  width: 300px;
  margin: 60px auto;
}

img {
  width: 100%;
}

img.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: var(--color-brand) solid 4px;
}

h1 {
  font-size: 32px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.username {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 18px;
  opacity: 0.8px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 48px 0;
}

ul li a {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  background: var(--color-brand);
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 6px;

  transition: background 400ms;
}

ul li a:hover {
  background: var(--color-hover);
}

.widget path {
  stroke: black;
}

.widget.dark path {
  stroke: white;
}

footer {
  font-weight: 500;
  font-size: 12px;
  opacity: 0.6;
  transition: opacity 400ms;
}

footer:hover {
  opacity: 1;
}

footer a {
  color: var(--color-text);
}
